<header class="bg-white px-2 py-1 text-black border border-b-black">
    <ul class="flex gap-2 font-bold">
        <li class="first-letter:text-red-700 first-letter:uppercase"><a href='fichiers'>Fichiers</a></li>
        <li class="first-letter:text-red-700 first-letter:uppercase"><a href='options'>Options</a></li>
        <li class="first-letter:text-red-700 first-letter:uppercase"><a href='registres'>Registres</a></li>
        <li class="first-letter:text-red-700 first-letter:uppercase"><a href='dossiers'>Dossiers</a></li>
    </ul>
</header>